<div class="index-grid2x2">
    <a href="/game/3">
        <div class="index-box index-box1">
            <div>
                <h1>
                    Easy
                </h1>
                <p>
                    Välj ett av 4 namn
                </p>    
            </div>
        </div>
    </a>
    
    <a href="/game/1">
        <div class="index-box index-box2">
            <div>           
                <h1>
                    Medium
                </h1>
                 <p>
                    Välj mellan allas namn
                </p>  
            </div>
        </div>
    </a>
    
    
    <a href="/game/2">
        <div class="index-box index-box3">
            <div>            
                <h1>
                    Hard
                </h1>
                <p>
                    Skriv in personens namn
                </p>  
            </div>
        </div>
    </a>
    <a href="/manage">
        <div class="index-box index-box4">
            <div>            
                <h1>
                    Manage
                </h1>
                <p>
                    Hantera personer
                </p>  
            </div>
        </div>
    </a>
</div>